.footer {
  margin-top: 160px;
  background-color: $light;
  padding: 56px 0;

  &-block {
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      transition: 0.3s ease;

      @media only screen and (max-width: $mobile) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }

      .footer-logo__img {
        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }

        @media only screen and (max-width: $mobile) {
          max-width: 200px;
        }
      }
    }

    &__socials {
      display: flex;
      gap: 16px;

      .telegram-icon,
      .facebook-icon,
      .instagram-icon {
        color: $gray;
        transition: 0.3s ease;

        &:hover {
          color: $orange;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }

    hr {
      background: rgba(37, 36, 32, 0.5);
      height: 2px;
    }

    &__list {
      margin-top: 64px;
      display: flex;
      justify-content: space-around;

      @media only screen and (max-width: $tablet) {
        margin-top: 40px;
      }

      @media only screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
      }

      ul {
        li {
          margin: 10px 0;

          a {
            color: $gray;
            transition: 0.3s ease;
            font-size: 16px;

            &:hover {
              color: $orange;
            }

            &:active {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .copyright {
      margin-top: 25px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      transition: 0.3s ease;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 16px;
      }

      a {
        color: $orange;
        text-transform: uppercase;
      }
    }
  }
}
