.site-header {
  padding: 16px 0;
  background-color: var(--primary-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
  border-top: 5px solid var(--accent-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media only screen and (max-width: $tablet-l) {
    position: static;
    background-color: transparent;
    padding: 16px 10px;
    box-shadow: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $tablet) {
      font-size: 12px;
      align-items: flex-start;
    }
  }

  .logo__img {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media only screen and (max-width: $tablet-l) {
      max-width: 170px;
    }
  }

  #hamburger-bar:checked {
    + {
      .hamburger-icons #menu {
        display: none;
      }
      .hamburger-icons #close {
        display: block;
      }
    }

    ~ {
      .site-nav .site-nav__list {
        right: 0;
      }
    }
  }

  #menu,
  #close {
    position: fixed;
    font-size: 45px;
    top: 22px;
    right: 10px;
    z-index: 101;
    background-color: var(--accent-color);
    border-radius: 5px;
    display: none;
  }

  #menu {
    @media only screen and (max-width: $tablet) {
      display: block;
    }
  }

  .site-nav {
    &__list {
      display: flex;
      gap: 32px;

      @media only screen and (max-width: $tablet-l) {
        gap: 24px;
      }

      @media only screen and (max-width: $tablet) {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100vh;
        width: 65%;
        background-color: var(--secondary-bg-color);
        position: fixed;
        z-index: 100;
        right: -100%;
        top: 0;
        padding: 24px;
        transition: 1s ease;
        box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 25px;
      }
    }

    &__link {
      color: var(--title-color);
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      transition: opacity 0.5s ease, color 0.4s ease;

      &:hover {
        opacity: 0.8;
        color: var(--accent-color);
      }

      &:active {
        opacity: 0.6;
      }

      &--active {
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          height: 3px;
          background-color: var(--accent-color);
          left: 0;
          bottom: -6px;
        }
      }

      @media only screen and (max-width: $tablet-l) {
        font-size: 12px;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 12px;
        color: var(--primary-bg-color);
      }

      @media only screen and (max-width: $mobile) {
        font-size: 16px;
        color: var(--primary-bg-color);
      }
    }
  }
}
